@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand";
}

.chart-container {
  padding: 20px;
  background-color: #f9f9f9; /* Light background for better contrast */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: auto;
  height: 100vh;
}


#chartDiv {
  min-width: 320px;
  height: 100%;
}

/* Add any specific styles for mobile responsiveness */
@media (max-width: 768px) {
  #chartDiv {
    height: 80vh;
  }
}

#brandingLogo{
  opacity: 0;
}




